* {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: black;
    color: white;
}

.container {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

/* .socials {

} */

#nav {
    box-sizing: border-box;
    height: 50px;
    background-color: white;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid blue; */
}

#nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

#nav a:hover {
    background-color: gray;
    color: white;
}

.about {
    /* border: 1px solid white; */
    margin: 0px 50px;
    padding: 10px;

}

#skills {
    background-color: rgb(32, 32, 32);
    padding: 20px;
    margin: 0px 50px;
}

#skills .languages {
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 10px 100px;
}

#skills .lt {
    justify-content: end;
}

#skills img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

#skills #aws-img {
    background-color: white;
    border: 3px solid lightblue;
}

#skills #python-img {
    border: 3px solid yellow;
}

#skills #js-img {
    border: 3px solid white;
}

#skills #postgres-img {
    border: 3px solid greenyellow;
}

#project-container {
    height: 30%;
    background-image: url(/static/img/code-cafe2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#projects {
    background-color: white;
    color: black;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
}

#form-container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

form {
    box-sizing: border-box;
    width: 80%;
    /* border: 2px solid salmon; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

form input {
    width: 100%;
    padding: 10px;
}

form textarea {
    width: 100%;
    padding: 10px;
}